@model StoreFront.Model.ViewModel.Profile.ProfilePageViewModel

@{
    Layout = "../Shared/_PageMaster.cshtml";
}


<h2 class="title">Profile</h2>
<div class="row">
    <a asp-controller="Profile" asp-action="Logout" class="btn btn-secondary registration login-submit pull-right">
        Log Out
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>