@model StoreFront.Model.ViewModel.Shared.FooterViewModel

@*Generates Footer Copyright nessage *@

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    <hr class="hidden-xs copyright"/>
    <h6>&copy; Copyright @DateTime.Today.Year @Model.Site.SiteName @Model.Site.BusinessInformation</h6>
</div>

