@model StoreFront.Model.ViewModel.Shared.FooterViewModel
<footer class="footer">
    <partial name="_CTABanner.cshtml" />
    <!-- .footer-links-section -->
    <div class="footer-bottom">
        <partial name="_FooterLogo.cshtml" />
        <div class="clearfix">&nbsp;</div>
        <partial name="_FooterColumnMenus.cshtml" />
        <div class="clearfix">&nbsp;</div>
        <div class="container">
            <div class="row">
                <partial name="_Copyright.cshtml" />
            </div>
            <div class="clearfix">&nbsp;</div>
        </div>
    </div>
</footer>
