@model StoreFront.Model.ViewModel.Shared.HeaderViewModel
<header class="row">

    <div class="col-xs-7 col-sm-5 col-md-3 col-lg-8" itemscope itemtype="http://schema.org/Organization">
        <partial name="_HeaderLogo.cshtml" />
    </div>




    <div class="col-lg-4 iconBlock">
        <div class="float-left headerIcon">
            <a asp-controller="Search" asp-action="Index">   <img src="/Images/search.jpg" title="Search" class="img-responsive searchIcon" itemprop="logo" alt="Search" /><div class="headerIconText">Search</div></a>
        </div>
        <div class="float-left headerIcon">
            <a asp-controller="Basket" asp-action="Index"> <img src="/Images/basket.jpg" title="Basket" class="img-responsive searchIcon" itemprop="logo" alt="Basket" /><div class="headerIconText">Basket</div></a>
            </div>
        <div class="float-left headerIcon">
            <a asp-controller="Profile" asp-action="Index"> <img src="/Images/Profile.jpg" title="Profile" class="img-responsive searchIcon" itemprop="logo" alt="Search" /><div class="headerIconText">Log In</div></a>
        </div>
        </div>
    <div class="hidden-lg hidden-md">
        <div class="col-xs-2 col-sm-1 pull-right">
            <input type="checkbox" id="nav-trigger" class="nav-trigger" onclick="SlideMenuAndBody();" />
            <label for="nav-trigger" class="pull-right" id="lbl-nav-trigger"></label>
            <partial name="../Nav/_BurgerNav.cshtml" />
        </div>
    </div>
</header>

<div class="col-xs-2 col-sm-4 col-sm-pull-1 col-md-7 col-md-push-1 col-lg-12  navbar">
    <div class="hidden-xs">
        <partial name="../Nav/_HeaderTopNav.cshtml" />
    </div>
 </div>
