
<table>
    <tr>
        <td>
            <a href="https://www.totalsmarthomes.com">
                <img src="https://www.totalsmarthomes.com/images/logo.gif" title="totalsmarthomes.com" />
            </a>
        </td>
    </tr>
</table>
