/*  All Non-JS styles and adjustments here */
body.noJS .hide-when-noJS { display: none;}
body:not(.noJS) .noJS-content { display: none;}
/*  ************* End Non-JS *************  */

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FutuLt.ttf');

}



html {
    overflow-x: hidden;
}

body {
    font-family: Futura;
    color: #000000;
    overflow-x: hidden; /* Without this, the body has excess horizontal scroll when the menu is open */
    font-size: 15px !important;
    line-height: normal !important;
    letter-spacing: 2px;
}

header {margin-top: 20px; }

h5 {
    color: #3d455c !important;
    font-weight: normal !important;
    font-size: 12pt !important;
}

.header-logo{
    margin-right:25px;
}

.tabs
{
    margin-top:25px;
}
.productDescription{
    padding-top:25px;
}

.price {
    color: #b37c56 !important;
    font-size: 20pt !important;

    padding-top: 25px;
    padding-bottom: 25px;
}

.tabPanel {
    padding-left: 0px !important;
}

.headerIcon {
    margin-right: 25px;
    text-align: center;
    border-left: 1px solid #3d455c;
    padding-left: 25px;
}

.headerIconText{
    margin-top:3px;
}

.navigationHR {
    margin-bottom: 15px !important;
}

.purchaseButton {
    margin-left: 0px;
}

.footerlinks {
    margin-top: 25px;
}

    input::placeholder {
        color: #dde3e3;
    }
.password-recommendation{
    padding-left:20px;
}

.piSpacer {
    height: 120px;
}

input {
    padding-left: 20px !important;
}

.filterrow {
    margin-bottom: 20px;
}

.registrationrow {
    margin-bottom: 20px;
}

.basketDelete {
    color: #b37c56;
}


.pagingrow {
    margin-bottom: 20px;
    margin-top: 20px;
}

    .nopadding {
        padding: 0px !important;
    }

.headericons { 
    text-align: right;
    margin-top:5px;
}

    h1 {
        font-size: 2.7em !important;
        color: #000 !important;
    }

h2 {
    font-size: 2.2em !important;
    margin-top: 10px !important;
}

ul li {
    vertical-align: middle;
}

hr {
    margin: 0 -9999rem 7px -9999rem;
    border-top: 2px solid #e3e3e3;
    margin-top: 0px !important;
    padding: 0px;
    margin-bottom: 0px !important; 
}

p {
    margin-bottom: 20px !important;
}

a {
    color: #b37b58;
    font-family: Futura;

}

    a:hover {
        text-decoration: none !important;
        color: #b37c56;
    }

a:focus {
    text-decoration: none !important;
}

textarea, input, button {
    outline: none;
    letter-spacing: 2px;
}

.checkbox {
    margin-top: 18px !important;
}

    .margin10{
        margin-top:10px;
        margin-bottom:10px;
    }

.navbar {
    text-transform: lowercase;
    font-size: 1.1em;
    min-height: unset;
    margin-top: 5px;
    margin-left: 0px !important;
    padding-left: 0px !important;
    margin-top: 7px;
}

span{ font-size: 1.14em; }
.navbar a {
    color: #000;
    text-decoration: none !important;
    font-family: Futura;

}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Futura;
}

.centerBasketText {
    text-align: center;
    height: 500px;
    line-height: 300px;
}

.tablehead{
    font-weight:bold;
}

.title {
    border-bottom: 1px solid #eee !important;
    line-height: 60px;
    margin-top: 0px !important;
}

.login-submit
{
    margin-top:20px !important;
    margin-bottom:20px !important;
}

.productListItem {
    text-align: center;
    height: 300px;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

.splashemail {
    text-decoration:none;
    font-size:12pt;
    font-family: Futura;
}

.navbar a.header-icon {
    margin-right: 0;
}

.navbar a:hover {
    color: #99abb9;
}

.navbar a:focus {
    color: #99abb9;
}

.navbar li {
    padding-left: 0;
    padding-right: 0;
}

.navbar li + li a {
    border-left: 1px solid #000;
    padding-left: 25px;
}

.navbar li:first-child a{    
    padding-left: 25px;
}

.navbar li:last-child a{
    padding-left:25px;
}

.navbar li.dropdown-nav a {
    border-left: none;
    text-transform: none;
    padding-left: 15px;
    padding-right: 15px;
    color: #000;
}

.navbar li.dropdown-nav a:hover {
    text-decoration: underline !important;
}

.search-top-icon {
    margin-top: 2px;
}

.basket-top-icon {
    margin-top: 2px;
    margin-right:10px;
}

    .sub-navbar a {
        color: #949599;
        font-size: 1.03em;
        margin-right: 5px;
    }

.cta a {
    color: #000;
    font-family: Futura;                 
    text-decoration: none;
    font-size: 1.1em;
    border-left: none !important;
}

    .cta a:hover {
        color: #b37c56;
    }

.cta a:focus {
    color: #BDD755;
}

.dropdown-menu {
    margin-top: 0 !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu>li>a:hover {
    background: none;
    text-decoration: underline;
}

#ab_cookie_widget {
    display: block;
    text-align: center;
    line-height: 100%;
    width: 100%;
    background: none repeat scroll 0 0 lightgrey;
    z-index: 100000;
    opacity: 0.9;
    top: 0;
    position: relative;
    border: none;
    padding: 10px 10px 0px 10px;
    margin-top: 5px;
}

.search-popdown {
    width: 285px;
    height: 70px;
    z-index: 5000 !important;
    display: none;
    position: absolute;
    top:45px;
    right: 14px;
}

.hidden {
    display: none !important;
}

.appointment-popdown {
    width: 325px;
    z-index: 5000 !important;
    display: none;
    position: absolute;
    top:45px;
    left: -165px;
    margin: 0 auto;
    padding: 10px;
    background-color: #FFFFFF; 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid #000; 
}

.topmargin {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.rearrangeButon {
    color: #fff;
    font-size: 1em !important;
    background-color: #000;
    border-radius: 0 !important;
    border: none !important;
    padding: 16px 16px !important;
}

.rearrangeButon:hover {
    color: #fff !important;
}

 .store-popdown {
    z-index: 5000 !important;
    display: none;
    position: absolute;
    float: right;
    padding: 10px;
    color: #7a7a7a !important;
    padding: 15px 25px;
    background-color: white;
    border:2px solid #7a7a7a;
    top: 75px;
    padding: 0px;
     width: 300px;    
}

 .storeListPopdownButton {
     border: 0px;
     background-color: white;
     color: #7a7a7a !important;
     width: 100%;
     text-align: left;
 }

  .storeListPopdownButton:hover {
     border: 0px;
     background-color: #7a7a7a;
     color: white !important;
     width: 100%;
      font-weight: bold;
 }

.search-image {
    position: relative;
    display: block;
    width: 30px;
    height: 32px;
    background-color: #000;
    background: url(/Images/SearchMagGlassWhite.png) no-repeat center center;
    background-size: cover;
    padding: 6px 8px !important;
}

.search {
    background-color: #000 !important;
    color: #fff;    

}

.search-textbox {
    border: 3px solid #000 !important;
    float: left;
}

li.result a {
    color: #000;
    font-family: "Futura";
}

li.result.bold {
    font-family: "Futura";
}

/******************************/
/* Burger Menu related styles */
/******************************/
/* Top Burger Icon */

.burger-nav {
    width: 300px;
    height: auto;
    position: absolute;
    top: 45px;
    right: 25px;
    z-index: 100;
    display: none;
    list-style: none;
}

.nav-trigger {
     /* critical styles - hide the checkbox input */position: absolute;clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
    z-index: 2;
    margin-top: 2px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background: url("/images/MenuSymbol.png") no-repeat top left;
    background-size: contain;

}

/* Navigation Menu - List items */
.burger-nav-item, .burger-nav-item-cta{
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.burger-nav li {
    list-style: none;
    padding-left: 0;
}

.burger-nav-item a {
    display: block;
    padding: 0.5em 1em 0.5em 1em;
    background-color: #d9d6d6;
    color: black;
    font-size: 19px;
    padding-left: 20px;
    text-align: left;
    text-decoration: none;
}

.burger-nav-item-cta a{
    display: block;
    padding: 1em 1em 5px 5px; 
    color: #000;
    background-color: #d9d6d6;
    padding-left: 20px;
    font-size: 19px;
    text-align: left;
    text-decoration: none;
    font-family: Futura;
}
 
.burger-nav-item a:hover, .burger-nav-item-cta a:hover,.burger-nav-item a:active, .burger-nav-item-cta a:active,.burger-nav-item a:focus, .burger-nav-item-cta a:focus{
  color: #000;
}

.burger-nav li ul {
    margin-left: -40px;
}

.burger-nav li ul>li>a {
    padding-left: 40px;
}

#buger-menu-links {
    text-indent: -15px;
    background-color: #d9d6d6;
}

/* Site Wrapper - Everything that isn't navigation. This is needed to move the page to the left when the burger menu drops down */
.overlay {
    min-height: 100%;
    min-width: 100%;
    background-color: white; /* Needs a background or else the nav will show through */
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
}

.overlay-disable {
     z-index: -1 !important;
     opacity: 0.1;
}

.captionText{
    line-height:2;
    margin-top:20px;
}

.home-page-top-banner, .article-main-banner {
    min-height: 380px !important;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
    margin-top:25px;
}

.home-page-top-banner ul {
    list-style: none;
    margin-top: 50px;
    margin-bottom: 10px;
} 
.home-page-top-banner ul li {
    color: #000;
    font-size: 1.3em;
    line-height: 1.5em;
    vertical-align: middle;
    margin-bottom: 30px;
    text-indent: 8px;
} 
.home-page-top-banner ul li::before {
    content: "•"; 
    color: #000000;
    display: inline-block; 
    width: 0.5em;
    margin-left: -0.6em;
    font-size: 4.5em;
    vertical-align: top;
}

.home-page-top-banner p {
    width: 108px;
    font-size: 1.2em;
    line-height: 1.7em;
}

.glyphicon { 
    top: 3px !important;
    left: 5px;
}

.btn-cta {
    color: #ffffff;
    padding: 25px 25px 25px 25px !important;
    background-color: #000000;
    border: none !important;
    border-radius: 0 !important;
    font-size: 1.5em !important;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 15px;
}

.page-btn-cta {
    width: 30%;
    margin-top: 15px;
}

.btn-cta:hover,
.btn-cta.focus {
    color: #000 !important;
    background-color: #99abb9 !important;
}

.btn-cta:active,
.btn-cta.active {
    color: #000;
    background-color: #BDD755;
}

.btn-cta-secondary {
    color: #fff;
    font-size: 1.4em !important;
    padding: 12px 45px !important;
    background-color: #000;
    border: none !important;
    border-radius: 0 !important;
}

.btn-cta-secondary:hover {
    color: #fff;
    background-color:  #BDD755;
}

.btn-cta-secondary:focus,
.btn-cta-secondary.focus {
  color: #fff;
  background-color:  #BDD755;
}

.btn-cta-secondary:active,
.btn-cta-secondary.active{
  color: #fff;
  background-color:  #BDD755;
}

.btn-primary {
    color: #000 !important;
    font-size: 1.5em !important;
    background-color: #fff !important;
    border-radius: 0 !important;
    border: 2px solid #000 !important;
    margin-bottom: 15px !important;
    padding: 14px 25px !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #000 !important;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff !important;
    background-color: #000 !important;
    border: 2px solid #000 !important;
}

.btn-primary:active,
.btn-primary.active {
    color: #fff !important;
    background-color: #000;
}

.large{
    width: 112%;
    padding: 16px 8px !important;
}

.btn-secondary {
    color: #fff;
    font-size: 1.5em !important;
    background-color: #99abb9 !important;
    border-radius: 0 !important;
    border: none !important;
    padding: 20px 20px !important;
}

.btn-secondary:hover {
    color: #fff !important;
    background-color:  #000;
}

.btn-secondary:focus,
.btn-secondary.focus {
    color: #fff !important;
    background-color:  #000 !important;
    border: none !important;
}

.btn-secondary:active,
.btn-secondary.active{
  color: #fff !important;
  background-color:  #000;
}

.selected {
    background-color: #000 !important;
    color: #fff !important;
}

hr.primary{ border-top: 3px solid #787878;}
.pagination button {
    background-color: transparent;
    color: #000;
    border: none;
    height: 28px;
    line-height: 28px;
    width: 38px;
    padding: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0 !important;
    font-family: Futura;
}

.pagination button.current {
    border: 1px solid #000;
}

.cta-text {
    color: white;
    font-size: 1.5em;
    width: 100%;
    padding-top: 7px;
    position: relative;
    text-align: center;
}

.home-page-sub-banner {
    height: 400px;

    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
}

.home-page-sub-banner h2 {
    margin-top: 80px !important;
    margin-bottom: 27px !important;
    color: #000 !important;
    font-size: 1.1em;
}

.home-page-sub-banner-text {
    height: 300px;
    position: relative;
    font-size: 1.2em;
}

.cta-secondary {
    
    position: absolute;
    bottom: 0;
    right: 5px;
}

.cta-secondary a{
    color: #000;
    font-size: 1.4em;
    font-family: Futura;
    width: 100%;
    position: relative;    
}

.cta-secondary a:hover{
    color: #BDD755 !important;    
}

.cta-secondary .glyphicon { 
    top: 3.5px !important;
}

.banner-text-area {
    width: 47%;
    min-height: 80px;
    margin: 290px 10px 5px 5px;
    background-color: white;    
}

.banner-text {
    color: #4d4d4d;
    margin-top: 23px;
    font-size: 1.7em;
}

.padded {
    margin-left: 200px;    
}
span p {
    line-height: 26px;
}

span {
    line-height: 26px;
}

.site-map ul {
    list-style: none;
    font-size: 1.2em;   
}

.site-map a {
    color: #525564;
}


label.large{
    color: #525564;
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 0px !important;
    margin-left: 0px;
}

.secondary-input{
    border-radius: 0 !important;
    border: 3px solid #000 !important;
    height: 56px !important;
    font-size: 1.2em !important;
}

.primary-input {
    border-radius: 0 !important;
    border: 1px solid #cccccc !important;
    height: 56px !important;
    font-size: 1.2em !important;
    color: #525564 !important;
}

.input-group-addon
{
    color:  #fff !important;    
    background-color: #000 !important; 
    border: 3px solid #000 !important;
    height: 56px !important;
}

.input-group-addon .btn
{ 
    background-color: #000 !important; 
    padding: 0 0;
    font-size: 1.2em;
}

.input-group-addon .btn:hover, .btn:focus
{ 
    color: #fff !important; 
}

.input-group-addon .glyphicon {
    left: 0;
    top: 1px;
}

.my-location {
    width: 100%;
    height: 57px;
    background-color: #525564;
    color: white !important;
    text-align: center;   
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding-top: 6px;     
}

.location-pin {
    width: 43px;
    height: 43px;
}

.appointment-list {
    margin-top: 22px;
    display: block;
} 

.appointment-list ul {
    list-style: none;
    margin-top: 22px;
    margin-bottom: 42px;
} 
.appointment-list ul li {
    line-height: 2em;
    vertical-align: middle;
} 
.appointment-list ul li::before {
    content: "•"; 
    color: #000;
    display: inline-block; 
    width: 0.5em;
    margin-left: -0.7em;
    font-size: 3em;
    vertical-align: top;
}

.footer {
    position: relative;
    padding-top:25px;
    
}

    .footer h4 {
        font-size: 1.3em !important;
        font-family: Futura;
        font-weight: bold;

    }

        .footer h4 a {
            color: #000;
            padding-top: 5px;
            text-align: left;
        }

    .footer .externalLink {
        padding-left: 33px;
        padding-top: 5px;

    }

.footer h4.small {
    font-size: 1.1em !important;
}

.footer .btn-cta {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 1.5em !important;
    margin-bottom: -40px;
}

.footer-bottom {
    border-top: 1px solid #99abb9;
    z-index: 98;
    margin-left:auto;
    margin-right:auto;

}

.footer-bottom img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
}

.footermenus {
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
}

.footer .cta-padding {
    margin-top: -15px;
}

.footer-bottom ul{
   padding: 0 !important;  
}

.footer-bottom li{
    line-height: 2em;
    list-style: none;
}

.footer-bottom li a{
	color: #000000;
    font-size: 1em;
    font-family: Futura;
}

    .footer-bottom li a:hover {
        color: #99abb9;
    }

footer hr {
    margin-left: -15px;
    margin-right: -15px;
}

.footer hr.copyright {
    margin: 10px 30% 25px 30% !important;
}

.nopointer {
    cursor: default;
}

.text-small {
    font-size: 1em;
}

.text-white {
    color: #FFFFFF !important;
}

.text-primary {
    color: #000 !important;
}

.text-default {
    color: #525564 !important;
}

.text-danger {
    color: #f00;
}

.text-info {
    color: #6495ED;
}

.error {
    color: #f00;
    margin-top: 10px;
    display: inline-block;
}

span.valid {
    display: inline-block;
    margin-left:10px;
    color: #7bc950;
    font-size: 2.5em;
}

.background-default {
    background-color: #000;
    margin-top: 5px;
}

.page-header {
    color: #333333 !important;
    border-bottom: none !important;
    margin: 10px 0 10px 0 !important;
}

.panel-default .panel-heading a {
    color: #525564;
    font-size: 1em;
}

.field-validation-valid
{
    display: none;
}
.validation-summary-valid
{
    display: none;
}

.footer-bottom-col-container {
    width: 80%;
    margin: auto;
}    

.footer-bottom .site-links li{
    padding-left: 15px;
    padding-right: 15px;
	border-right: 1px solid #ffffff;
}

.footer-bottom .site-links li:last-child{
	border-right: 0;
}

#datepicker span.glyphicon{
    top: 1px !important;
    left: 0 !important; 
    color: #000 !important;
    font-size: 2.5em !important;
}

#slotHolder {
    margin-top: 25px;
}

.searchIcon {
    cursor: pointer;
}

.iconBlock{

    padding:0px !important;
    margin-top:10px;
}

.cancel-content {
    text-align: center;
    margin-top: 20px;
}

.cancel-buttons {
    margin-top: 20px;
    margin-bottom: 50px;
}

.primarycolour {
    color: #fff;
    font-size: 1em !important;
    background-color: #7bc950;
    border-radius: 0 !important;
    border: none !important;
    padding: 16px 16px !important;
}

.primarycolour:hover {
        color: #fff !important;
}

.marginleft20 {
    margin-left: 20px !important;
}

.registrationLabel {
        display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 1.14em;
    font-weight: normal;
    line-height:50px;
}

.registerblock
{
    border-left: 1px solid black;
    padding: 20px !important;

}

.form-row {
    margin-bottom: 20px;
    margin-left:15px !important;
}

.specialRequirementsButton {
    width: 100px;
}

.registration-form-control {
    display: block;
    
    float: left;
    margin-right: 20px;
}

/* do not group these rules */
*::-webkit-input-placeholder {
    color: #929397;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #929397;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #929397;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #929397;
}

input[type="date"]::before {
	color: #929397;
	content: attr(placeholder);
}
input[type="date"] {
	color: #929397;
}
input[type="date"]:focus,
input[type="date"]:valid::after {
	color: #525564 !important;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
    color: #929397;
	content: "" !important;
}
.validationTick {
    color: #7bc950;
    font-size: 21pt;
}

.validDate {
    color: #525564 !important;
}

.validationErrorInput {
        border: 1px solid  #f00 !important;
}

.primary-inputError {
    border-radius: 0 !important;
    border: 1px solid #f00 !important;
    height: 56px !important;
    font-size: 1.2em !important;
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-calendar-picker-indicator { 
  -webkit-appearance: none; 
  margin: 0; 
}

.registration-textfield {
    color: #929397;
}

.registration-requiredfields {
    color: #72b0e9 !important;
    margin-bottom:20px;
}

select {
    margin: 50px;
    width: 390px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    border-radius: 0 !important;
    border: 1px solid #cccccc !important;
    height: 56px !important;
    color: #525564 !important;
    padding: 10px 16px;
    line-height: 1;
    margin-right: 20px !important;
}

.findAddress {
    height: 56px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#crafty_postcode_lookup_result_option1 {
    width: 390px !important;
}
/* CAUTION: IE hackery ahead */
select::-ms-expand {
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background: none\9;
        padding: 5px\9;
    }
}

.emailMessage {
    margin-top: 10px;
    padding-left: 0px !important;
}

.requirements-popdown {
    float: left; padding-left: 0px !important;
    margin-bottom: 30px;
    padding-right: 0px !important;
}

 #map-canvas {width: 100%;height: 430px;min-height: 475px;}

 .norightmargin {
     margin-right: 0px !important;
 }

 .nomargin {
     margin-right: 0px !important;
     margin-left: 0px !important;
 }

 .whiteText {
     color: white;
 }

 .blogPostLink a {
     color: black !important;
     display: block;
     
     background-color: white;
     text-align: center;
     height: 50px;
     margin: 10px 10px 10px 10px;
     padding: 15px 15px 15px 15px;
 }

  .blogPostLink a:hover {
      color: #c3d568 !important;
 }

 .activeBlogPostLink a {
     display: block;
    
     background-color: white;
     text-align: center;
     height: 50px;
     margin: 10px 10px 10px 10px;
     padding: 15px 15px 15px 15px;
     color: #c3d568 !important;
 }

 .pullQuote {
     font-size: 1.2em !important;
 }

 .pullQuoteHR {
     display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #c3d568;
    margin: 1em 0;
    padding: 0; 
 }

 .pullQuoteIcon {
          color: #61a60f;
 }

 .blogFilterButton {
     margin-left: 10px;
     margin-bottom: 10px;
 }

 .notoppadding {
    padding-top: 0px !important;
 }

 .footerLink {
     color: white !important; font-size: 0.9em !important;
 }

  .footerLink:hover{
     color: #cccccc !important; font-size: 0.9em !important;
 }

  .homepagePadding {
      padding-right: 5px ;
  }

    .homepageMargin {
      margin-right: 0px !important;
  }

    
    
    .maparea {
        width: 100%; height: 100%;
    }

    .greyPin {
        display: inline-block;
    }

    .rearangeButonMargin {
        margin-top: 20px;
        vertical-align: middle;
    }


    .rearrangeMessage {
        padding-left: 0px !important; margin-top: 40px; margin-bottom: 20px; color: #949599 !important;
    }

.registration-checkbox {
    margin-right: 0px !important;
}

    .footerSpacing {
        margin-bottom: 20px !important;
    }

   

.hasborder {
    border: 3px solid #61a60f;
    float: left !important;
    margin-right: 20px;
}

   .storeHR {
       border-top: 1px solid #61a60f;
   }

   .bookAppointmentButtonLayout {
       width: 100% !important; height: 30px !important; padding-top: 2px !important;
       border-bottom-left-radius: 0px !important;
        border-top-left-radius: 0px !important;
   }

   .removePadding {
       padding-left: 0px !important;padding-right: 0px !important;
   }


   .noRowMargin {
       margin-right: -15px !important; margin-left: -15px !important;
   }

   .addressSelect {
       float: left !important; display: none !important;
   }

   .addtocalendar {
       color: white !important;
       background-image: none !important;
       font-family: mns-longon-bold;
   }

    .formcontainer input[type="radio"], .formcontainer input[type="checkbox"]{   display: none !important; }
    .formcontainer label {   position: relative; }
    .formcontainer span::before,
    .formcontainer span::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
.formcontainer span.checkbox::before {
    width: 27px;
    height: 27px;
    background-color: #fff;
    left: 0px;
    box-sizing: border-box;
    border: 3px solid #000;
    transition: border-color .2s;
}
.formcontainer span.checkbox:hover::before {
  border: 3px solid #000;
}
.formcontainer span.checkbox::after {
  content: '\f00c';
  font-family: Futura;
  left: 5px;
  top: -11px;
  color: transparent;
  transition: color .2s;
}

.confirmationError {
    margin-bottom: 50px;
}

.picker-switch {
    line-height: 1.1 !important;
}

.clearpadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.removeLeftPadding {
    padding-left: 0px !important;
}

.marginBottom {
    margin-bottom: 10px !important;
}

.blogBottomMargin {
    margin-bottom: 30px !important;
}

input[type="checkbox"]:checked + label span.checkbox::after {
  color: black;
}

.bootstrap-datetimepicker-widget table th.picker-switch {
    text-transform: capitalize !important;
}

.fullWidth { width: 100% }
.searchTextBox { width: 87% !important; }
.searchStoreButton { border: 0px !important; margin: 0px !important; background-color: white !important; padding: 0px !important; float: left; width:100% }
.searchButtonContainer { width: 13% !important; float: left; }
.caret {
    vertical-align: super !important;
}

section ul > li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
}

.bold {
    font-family: Futura;
    font-size: 1.0em;
}

.tooltip {
    background: #F8F8F8;
    border: 1px solid #f00;
}

.tooltip-inner {
    background: #F8F8F8;
    color: #f00;
    padding: 13px 18px;
    font-size: 1.1em;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #ff0000;
    top: -20px;
    margin-left: -20px;
    margin-top: -11px;
    border-width: 10px 10px 10px 10px;
}

.btn-main {
    width: 100%;
}

.col-no-padding-left {
    margin-left: -15px !important;
}

.clearfloat {
    float: none !important;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display: none !important;
}

@media (min-width: 1200px) {
    .footer-bottom li a {font-size: 1.1em;}

    .btn-secondary {float: right;}
    .registration{ float: none;}
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar a {font-size: 0.9em;margin-right: 1px;}
    .btn-secondary {float: right;}
    .registration{ float: none;}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .search-popdown{ right: 4px; top: 45px;}
    .home-page-top-banner {min-height: 500px !important; background-position-x: 19%;}
    .home-page-sub-banner {height: 220px;}
    .home-page-sub-banner-text {position: relative; background: white; opacity: 0.75; padding: 8px 12px 12px 16px;margin-top: 100px;margin-right: -15px;height: 145px;}  
    .home-page-sub-banner h2 { margin-top: 8px !important; font-size: 1.1em !important; font-family: mns-london-bold; color: #000 !important; margin-bottom: 10px !important;}
    .cta-secondary{ margin-bottom: 30px; position: absolute; bottom: 0; margin-right: 5px;}
    .cta-secondary a{ font-size: 1.0em !important; font-family: mns-london-bold; }
    .home-page-top-banner h1{ font-size: 2.2em !important;}
    .home-page-top-banner ul {margin-bottom: 35px;}
    .home-page-top-banner ul li {font-size: 1.4em; line-height: 1.7em;}
    .page-btn-cta {width: 45%;}
    .large{width: 98%;}
    .storeListAddress { margin-top: 0 !important; } 
    .navbar li:last-child a {padding-left: 72px;}
    .btn-secondary{ display: block; margin-right: auto;margin-left: auto; }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .home-page-top-banner {min-height: 480px !important; background-position-x: 13%;}    
    .home-page-sub-banner { background-position-x: 41%;}
    .home-page-sub-banner .pull-right{ padding-left: 30px !important;} /*To stop left sided text to overlap the background image*/
    .search-popdown{ right: 12px; top: 45px;}
    .home-page-sub-banner-text p{ height: 150px; }
    .home-page-sub-banner-text {height: 300px;}
    .large{width: 105%;}
    .storeListAddress { margin-top: 0 !important; }
    .cta-secondary{ margin-top: 40px; position: absolute; bottom: 0;}
    .topnav > li {padding-right: 0 !important;}
    .navbar { width: 914px; margin-left: -134px; margin-bottom: 0px !important;}
    .btn-secondary{display: block; margin-right: auto;margin-left: auto; }
}

@media (min-width: 481px) and (max-width: 767px)  {
    .footer-bottom .site-links li{font-size: 1.2em; }
    .footer .btn-cta {font-size: 1.3em !important;}
    .cta-secondary {  bottom: -40px;}
    .home-page-top-banner {min-height: 300px !important; padding-top: 64px;}
    .home-page-sub-banner .pull-right{ padding-left: 80px !important;} /*To stop left sided text to overlap the background image*/
    .search-popdown{ top: 55px;}   
    #datepicker{ font-size: 0.85em;}
    .large {font-size: 1.3em !important;}
    .page-header {font-size: 2.4em !important;}
    .storeListAddress { margin-top: 0px !important; }
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: portrait)  {
    .page-btn-cta {padding: 10px 25px 10px 10px !important}
    section img{ margin-bottom: 15px;}
    .my-location img{ margin-bottom: 0;}
    #datepicker{ font-size: 0.85em;} 
    .large {font-size: 1.3em !important; width: 100% !important;}
    .page-header {font-size: 2.4em !important;}
    .storeListAddress { margin-top: 0px !important; }
    .searchButton{ clear: both !important;  margin-left: 50px;}
    .appt-summary {width: 100%;}
    .appt-summary-details { width: 100%;}
    .btn-secondary{ width: 100%;}
    .picker-switch{font-size:1.5em !important; padding-top: 13px !important; vertical-align: top;}
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape)  {
    section img{ margin-bottom: 15px;}
   .my-location img{ margin-bottom: 0;}
   #datepicker{ font-size: 0.85em;} 
   .large {font-size: 1.3em !important; width: 100% !important;}
   .page-header {font-size: 2.4em !important;}
   .storeListAddress { margin-top: 0px !important; }
   .searchButton{ clear: both !important; margin-left: 50px;}
   .appt-summary {width: 100%;}
   .appt-summary-details { width: 100%;}
    .btn-secondary{ width: 100%;}
   .picker-switch{font-size:1.5em !important; padding-top: 13px !important; vertical-align: top;}
    #registration .glyphicon {top: -40px!important;float: right;left: -10px; height: 0px;}
}

@media (max-width: 480px) and (min-width: 0px) {
    .home-page-top-banner {padding-top: 34px;}
    .home-page-sub-banner {height: 200px;}
    .home-page-sub-banner h2 {margin-top: 20px !important; font-size: 1.17em !important;}
    .cta-secondary { bottom: -20px; right: unset;}
    .home-page-sub-banner-text {height: 30px; }   
    .footer .btn-cta {width: 85%; font-size: 1.2em !important;padding-left: 5px !important; padding-right: 5px !important;}
    .footer-bottom .site-links li{font-size: 0.8em; padding-left: 10px; padding-right: 10px;}
    .footer-bottom .site-links .list-inline {margin-left: 0;}
    .search-popdown{ right: -35px; top: 45px;}
    .cta-secondary a {font-size: 0.9em;}
    .cta-secondary .glyphicon {top: 1px !important;}
    .btn-cta { font-size: 1.3em !important;}
    .home-page-sub-banner .pull-right{ padding-left: 35px !important;} /*To stop left sided text to overlap the background image*/
    #datepicker{ font-size: 0.65em !important;} 
    .large {font-size: 1.3em !important; }
    .page-header {font-size: 2.4em !important;}
    .storeListAddress { margin-top: 0px !important; }
    .searchButton{ clear: both !important; margin-top: 10px !important;margin-left: 0px;}
    #registration .glyphicon {top: -40px!important;float: right;left: -10px; height: 0px;}
}

@media (min-width : 0px) and (max-width : 568px) and (orientation: portrait) {
    .home-page-sub-banner { height: 160px;}    
    .page-btn-cta {width: 95%;}
    .btn-cta{padding-left: 5px !important; padding-right: 5px !important;}      
    section img{ margin-bottom: 15px;}
    .my-location img{ margin-bottom: 0;}
    #datepicker{ font-size: 0.85em;} 
    .large {font-size: 1em !important; width: 116% !important;}
    .page-header {font-size: 2.4em !important;}
    .storeListAddress { margin-top: 0px !important; }
    .searchButton{ clear: both !important; margin-top: 10px !important;margin-left: 0px;}
    .btn-primary {padding: 8px 8px 8px 5px !important;}    
    .appt-summary {width: 100%; font-size: 1.3em !important;}
    .appt-summary-details { width: 100%; font-size: 1.3em !important;}
    .btn-secondary{ width: 100%; font-size: 1.1em !important;}
    .picker-switch{font-size:1.5em !important; padding-top: 13px !important; vertical-align: top;}
    .btn-main { font-size: 1.5em !important; padding: 11px 8px !important;}
}

@media (min-width : 0px) and (max-width : 568px) and (orientation: landscape) {
    .cta-text { font-size: 1.2em;}  
    .home-page-sub-banner { height: 300px;}  
    .page-btn-cta {width: 70%;}
    section img{ margin-bottom: 15px;}
    #datepicker{ font-size: 0.85em;} 
    .large {font-size: 1.3em !important;}
    .page-header {font-size: 2.4em !important;}
    .storeListAddress { margin-top: 0px !important; }
    .searchButton{ clear: both !important; margin-top: 10px !important;margin-left: 0px;}
    .appt-summary {width: 100%;}
    .appt-summary-details { width: 100%;}
    .btn-secondary{ width: 100%;}
    .picker-switch{font-size:1.5em !important; padding-top: 13px !important; vertical-align: top;}
    #registration .glyphicon {top: -40px!important;float: right;left: -10px; height: 0px;}
}

/* IPad pro Portrait */
@media (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    .home-page-top-banner {background-position-x: 16%;}
    .home-page-sub-banner h2 {font-size: 1.4em !important;}
    .home-page-sub-banner-text {margin-top: 55px;margin-right: -15px;height: 182px;}    
    .large{width: 110%;}
    .storeListAddress { margin-top: 0px !important; }   
    .topnav > li {padding-right: 0 !important; padding-left: 25px !important;}
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}



.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

    .list-inline > li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }

